<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>PostList | Search</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link rel='stylesheet' href='styles/main.css'>
    <link rel='stylesheet' href='styles/category.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
    <script src='scripts/category.js' defer></script>
  </head>

  <body>
      <header>
          <nav class='navbar navbar-expand-lg navbar-light bg-light'>
            <a class='navbar-brand' href='/'>#PostList</a>
            <ul class='nav navbar-nav'>
              <li class='active'><a href='/'>Home</a></li>
              <li><a href='/search'>Search</a></li>
              <li><a href='/login'>Login</a></li>
              <li><a href='/register'>Register</a></li>
            </ul>
          </nav>
        </header>
    
    
      <div class='row'>
        
        <div class='col-md-4'>
          <form id='text_form'>
            <label for='text_option'>
              <h4>Search post</h4>
            </label>  
            <input class='form-control' type='text' id='text_option'>
            <button type='button' name='search_text_button' class='btn btn-success'>Search!</button>
          </form>
        </div>  

        <div class='col-md-4'>
          <form id='category_form'>
            <label for='cat_options'>
              <h4>Choose a Category</h4>
            </label>
            <select id='cat_options' class='form-control'></select>
            <button type='button' name='cat_search_button' class='btn btn-success'>GO!</button>
          </form>
        </div> 

      <div class='col-md-4'>
          <form id='location_form'>
            <label for='loc_options'>
              <h4>Choose a Location (alpha)</h4>
            </label>
            <select id='loc_options' class='form-control' disabled></select>
            <button type='button' class='btn btn-warning'>Coming Soon!</button>
          </form>
      </div>
    
      <div id='show_posts'></div>
      

    <!-- display post with modal -->
    <article class='modal fade' id='modal-post' tabindex='-1' role='dialog'>
      <div class='modal-dialog' role='document'>
        <div class='modal-content'>
          <div class='modal-header'>
            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
            <h2 class='modal-title' name='title'></h2>
          </div>
          <div class='modal-body'>
            <div class='row'>
              <div class='col-md-6'>
                <div name='image-container'></div>
              </div>
              <div class='col-md-6'>
                <p name='category-container'>
                </p>
                <p name='post-by-container'>
                  Post By: <span></span>
                </p>
                <p name='date-container'>
                  Date: <span></span> 
                </p>
                <p name='descrp-container'>
                  <span></span>
                </p>
              </div> 
            </div>    
            <hr>
            <p class='mb-0' name='contact-container'>
              Contact Info: <span></span> 
            </p>    
          </div> 

          <div class='modal-footer'>
            <button type='button' name='close' class='btn btn-secondary' data-dismiss='modal'>Close</button>
          </div>
        </div>
      </div>
    </article>

  </body>
</html>