<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Postlist Newuser</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/profile.css">
  </head>
  <body>

    <div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
            <div class="col-1">
                <h1>Welcome Newuser..</h1>
            </div>
        </div>
<!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
    <div class="col-xs-6"><div id=power></div>
    <div class="col-xs-6">
    <h3>Newuser</h3><br>
    <h3>San Francisco</h3><br>
    <h3>Date Joined:</h3><br>
    <h3>https://www.postlist.com/Newuser</h3>
    </div>
    </div>


<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-xs-6 col-md-4"> Pref#1 </div>
  <div class="col-xs-6 col-md-4"> Pref#2 </div>
  <div class="col-xs-6 col-md-4"> ... </div>
</div>
      </div>
      <div class="row">
          <div class="col-1">
            <h1>Posts</h1>
        </div>
      </div>
      <div class="row">
          <div class="col-1"><div id=strong></div>
          </div>
        </div>>
  </body>
</html>