
body {
    font-family: 'Rubik', sans-serif;
}

form {
    padding: 20px;
}
/* 
.container {
    display: flex;
    justify-content: center;
} */

#search_form {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: row;
} 

