@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
  background-image:linear-gradient(90deg, #649cfc, #ff2d6c);
  margin:auto;
}
#body {
  margin:auto;
  border-style: solid;
border-color: #f79731;
  width: 35%;
  padding: 5% 5% 5% 5%;
  background-color: rgba(209, 206, 192, 0.4);
  font-family: sans-serif, monospace;
  text-align: left;
}
h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 250%;
  text-align: center;
}
