* {
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* 
.banner-pic {
    height: 100px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
} 
*/

