.image-holder {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/084/019/original/free-vector-sticky-note-set.jpg);
    background-position: center bottom;
    background-size: cover;
    height : 75vh;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

