
.well{
    background-color:#fff!important;
    border-radius:0!important;
    border:none!important;
}

.well.login-box {
    width:300px;
    margin:0 auto;
}
.well.login-box legend {
  font-size:26px;
  text-align:center;
}
.well.login-box label {
  font-size:16px;
}
.well.login-box input[type=text] {
  box-shadow:none;
  border-color:#dddddd;
  border-radius:0;
}

.well.welcome-text{
  font-size:21px;
}
