* {
    box-sizing: border-box;
}

html, body {
    text-align: center;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* 
.banner-pic {
    height: 100px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
} 
*/


header nav {
    background: linear-gradient(rgb(28, 119, 146),rgb(31, 170, 152));
    width: 100%;
}

nav .navbar-brand {
    transition: all 0.5s ease-in-out;
}

nav .navbar-brand:hover {
    font-size: 25px;
}

nav li {
    width: 150px;
    transition: all 0.5s ease-in-out;
}

nav li:hover {
    width: 150px;
    font-size: 20px;
    background: #64e1f1e3;
}

nav li:nth-child(1) {
    background: rgb(242, 250, 130);
}

nav li:nth-child(2) {
    background: rgb(170, 255, 202);
}

nav li:nth-child(3) {
    background: rgb(255, 118, 182);
}

nav li:nth-child(4) {
    background: rgb(255, 137, 90);
}

div [name=image-container] {
    max-height: 70vh;
    overflow-y: scroll;
}

p[name=descrp-container] {
    white-space: pre-wrap;
}


.navbar-brand {
    width: 200px;
    background: rgb(152, 231, 255);
}

.label:hover {
    cursor: pointer;
}

.post-snippet {
    width: 60%;
    margin: 20px 20%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 20px 20px;
    transition: all 1s;
    position: relative;
}

.post-snippet:hover {
    background: linear-gradient(rgb(232, 255, 253),rgb(181, 222, 255));
    transform: scale(1.05);
}

/* .post-snippet .wrapper {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
} */

.post-snippet img {
    max-width: 50%;
    max-height: 50%;
}

.post-snippet p {
    /* display: block;
    width: 30%; */
    text-align: left;
}


.label-info {
    font-size: 1.5rem;
}

.jumbotron {
    width: 80%;
    margin: 10px 10%;
    border-radius: 10px;
}

#modal-post .modal-dialog{
    margin: 10px 5%;
    width: 90%;
    height: 100%;
}

#modal-post p[name=descrp-container] {
    text-align: left;
}


