body {
    font-family: 'Rubik', sans-serif;
}

textarea {
    resize: none;
    width: 60%;
    height: 200px;
}

.col-1 { 
    height : 20vh;
    text-align: center;
    padding: 10px;   
}

.col-xs {
    padding: 40px;
}

#modal-post-create h2 {
    /* width: 60%; */
}

#modal-post-create .modal-dialog{
    margin: 10px 5%;
    width: 90%;
    height: 100%;
}

button[name=delete_post] {
    top: 2px;
    right: 2px;
    position: absolute;
}

