body {
    font-family: 'Rubik', sans-serif;
}

textarea {
    resize: none;
    width: 60%;
    height: 200px;
}

div[name=display_pref] span {
    margin: 5px;
    font-size: 1.25rem;
}

.col-1 { 
    height : 20vh;
    text-align: center;
    padding: 10px;   
}

.col-xs {
    padding: 40px;
}

.col-md-6, .col-md-4 {
    text-align: left;
}

.col-md-6, .col-md-4, .col-md-2 {
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
}

.preference {
    margin-bottom: 20px;
}

#modal-post-create .modal-dialog{
    margin: 10px 5%;
    width: 90%;
    height: 100%;
}

button[name=delete_post] {
    top: 2px;
    right: 2px;
    position: absolute;
}

