body {
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(rgba(242,246,248,1) 0%, rgba(216,225,231,1) 37%, rgba(181,198,208,1) 76%, rgba(224,239,249,1) 100%);
}

img[name=img] {
    margin: 15px;
}

textarea {
    resize: none;
    width: 60%;
    height: 200px;
}

div[name=profile_header] {
    background-color: rgb(224, 224, 224);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

div[name=basic_info] {
    text-align: left;
    margin: 15px;
}

div[name=display_pref] span {
    margin: 5px;
    font-size: 1.25rem;
}

div[name=image-container] {
    margin: 15px;
}

button[name=delete_post] {
    top: 2px;
    right: 2px;
    position: absolute;
}

p[name=descrp-container] {
    text-align: left;
}


.alert {
    width: 60%;
    margin: 5px 20%;
}

/* .col-1 { 
    height : 20vh;
    text-align: center;
    padding: 10px;   
}

.col-xs {
    padding: 40px;
}

.col-md-6, .col-md-4 {
    text-align: left;
}

.col-md-6, .col-md-4, .col-md-2 {
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
} */

.welcome {
    text-align: left;
}

.preference {
    margin-bottom: 20px;
}

.modal {
    overflow-y: scroll;
}

#modal-post-edit textarea {
    width: 80%;
    margin: 10px;
    padding: 10px;
}

#modal-post-create .modal-dialog, #modal-post-edit .modal-dialog {
    margin: 10px 5%;
    width: 90%;
    height: 100%;
}

#modal-post-edit [name=title] {
    width: 80%;
}

#modal-post-edit .contact-info {
    text-align: left;
}


#modal-post-edit [name=contact_info] {
    width: 60%;
}

